[package]
name = "cosmic-noise"
version = "0.1.0"
edition = "2021"
license = "GPL-3.0"

[profile.dev.package."*"]
opt-level = 3

[dependencies]
i18n-embed-fl = "0.8"
kira = "0.9.0"
once_cell = "1.19.0"
rust-embed = "8.3.0"
walkdir = "2.5.0"

[dependencies.libcosmic]
git = "https://github.com/pop-os/libcosmic.git"
default-features = false
features = ["dbus-config","multi-window", "tokio","applet", "wayland", "wgpu"]

[dependencies.i18n-embed]
version = "0.14"
features = ["fluent-system", "desktop-requester"]
