[Desktop Entry]
Name=Cosmic Noise
Comment=Applet for playing background noise, heavility inspired by Blanket
Type=Application
Icon=io.github.bqwrongway.CosmicNoise
Exec=cosmic-noise %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=
