[Desktop Entry]
Name=CosmicNoise
Comment=Applet to play background relaxing background noise
Type=Application
Exec=cosmic-noise
Terminal=false
Categories=Cosmic;Iced;
Keywords=Cosmic;Iced;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=io.github.bqwrongway.wave-symbolic
NoDisplay=true
X-CosmicApplet=true
X-HostWaylandDisplay=true
X-CosmicHoverPopup=Auto