<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" 
             Name="Cosmic Noise" 
             Language="1033" 
             Version="0.2.5" 
             Manufacturer="Cosmic Noise Contributors" 
             UpgradeCode="PUT-GUID-HERE">
        <Package InstallerVersion="200" 
                 Compressed="yes" 
                 InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <Feature Id="ProductFeature" 
                 Title="Cosmic Noise" 
                 Level="1">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="Cosmic Noise" />
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="ApplicationExecutable" Guid="*">
                <File Id="ApplicationExecutable" 
                      Name="cosmic_noise.exe" 
                      Source="$(var.SourceDir)\cosmic_noise.exe" 
                      KeyPath="yes" />
            </Component>
            <Component Id="Assets" Guid="*">
                <File Id="AssetsDir" 
                      Name="assets" 
                      Source="$(var.SourceDir)\assets" 
                      KeyPath="yes" />
            </Component>
            <Component Id="I18n" Guid="*">
                <File Id="I18nDir" 
                      Name="i18n" 
                      Source="$(var.SourceDir)\i18n" 
                      KeyPath="yes" />
            </Component>
            <Component Id="Resources" Guid="*">
                <File Id="ResourcesDir" 
                      Name="resources" 
                      Source="$(var.SourceDir)\resources" 
                      KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix> 